
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.ChatScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobiletextinput_2 */
.ChatScreen_mobiletextinput_2 {
	margin: 4px 0px 4px 0px;
}
/* mobiletextarea_3 */
.ChatScreen_mobiletextarea_3 {
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_4 */
#ChatScreen_mobilebutton_4 {

}
.ui-btn.ChatScreen_mobilebutton_4 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.ChatScreen_mobilefooter {
	min-height:38px;
}