
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.DescriptionPage_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobiletextarea_3 */
.DescriptionPage_mobiletextarea_3 {
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_4 */
#DescriptionPage_mobilebutton_4 {

}
.ui-btn.DescriptionPage_mobilebutton_4 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.DescriptionPage_mobilefooter {
	min-height:38px;
}