
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.PhantomLandingPage_mobilecontainer {
	padding: 140px 0px 0px 0px;
}
/* imageregister */
.PhantomLandingPage_imageregister {
	margin: 0px 0px 0px 0px;
	width: 100%; height: 30%;
	display: block;
}
/* mobilefooter */
.PhantomLandingPage_mobilefooter {
	min-height:38px;
}