
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#Products_mobilebutton_11 {

}
.ui-btn.Products_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.Products_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileworkarea_10*/
.Products_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobilelist_12 */
.ui-page .Products_mobilelist_12 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_13 */
/* mobilelistitembutton_14 */
.Products_mobilelistitembutton_14 {

}
/* mobilelistitem_15 */
/* mobilelistitembutton_16 */
.Products_mobilelistitembutton_16 {

}
/* mobilelistitem_17 */
/* mobilelistitembutton_18 */
.Products_mobilelistitembutton_18 {

}
/* mobilelistitem_19 */
/* mobilelistitembutton_20 */
.Products_mobilelistitembutton_20 {

}
/* mobilelistitem_21 */
/* mobilelistitembutton_22 */
.Products_mobilelistitembutton_22 {

}
/* mobilefooter1 */
.Products_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.Products_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.Products_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .Products_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.Products_mobilelistitembutton_5 {

}
/* mobilelistitem_6 */
/* mobilelistitembutton_7 */
.Products_mobilelistitembutton_7 {

}
/* mobilelistitem_8 */
/* mobilelistitembutton_9 */
.Products_mobilelistitembutton_9 {

}