
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/split.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <body>
        <div class="container">
            <div id="splitlayout" class="splitlayout">
                <div class="intro">
                    <div class="side side-left">
                        <a href="pro.html">
                            <div class="intro-content">
                                <div class="profile"><img src="~/Content/img/pro.png" alt="profile1"></div>
                                <br />
                                <h1><span>PRO </span></h1>
                            </div>
                        </a>
                        <div class="overlay"></div>
                    </div>
                    <div class="side side-right">
                        <a href="customer.html">
                            <div class="intro-content">
                                <div class="profile"><img src="~/Content/img/customer.png" alt="profile2"></div>
                                <br />
                                <h1><span>Customer </span></h1>
                            </div>
                        </a>
                        <div class="overlay"></div>
                    </div>
                </div><!-- /intro -->
            </div><!-- /splitlayout -->
        </div><!-- /container -->
    </body>
<footer></footer>
</html>